<div class="pagination">
  <div class="pagination-inner">
    {{#if prev}}
      <a href="{{page_url prev}}">newer</a>
    {{/if}}
    {{#if next}}
      <a href="{{page_url next}}">older</a>
    {{/if}}
  </div>
</div>